<section class="md-whiteframe-6dp" style="margin: 16px;" id="home-page">
	
	<div class="md-padding">

		<h1 class="md-headline headers">Hello World</h1>
		<p>This is my brand new Demo application "User Management".</p>	
		<p>Navigate to <span class="bold-text">Users</span> Section on the left sidebar and ther you'll be able to create new user, delete usere, update user and view user details.</p>

		<h1 class="md-headline headers">Used Technologies</h1>
		<h3 class="bold-text">1. Node JS</h3>
		<h3 class="bold-text">2. Example</h3>
		<h3 class="bold-text">3. Mongo DB</h3>
		<h3 class="bold-text">4. Angular Js</h3>
		<h3 class="bold-text">5. Angular Material Design</h3>
		<h3 class="bold-text">6. Bower - A package manager</h3>

		<h1 class="md-headline headers">Project Info</h1>
		<p>Folder Name <span class="bold-text">"userinteface". </span></p>
		<p>Mongo Db is in <span class="bold-text">userinteface > data</span> folder. </p>
		<p>Database name is <span class="bold-text">userintefacedb.</span></p>
		<p class="bold-text"></p>

		<h1 class="md-headline headers">Personal Info</h1>
		<p><span class="bold-text">Name: </span> Gari Epranos</p>
		<p><span class="bold-text">Email: </span>gepran@gmail.com</p>
		<p><span class="bold-text">LinkdIn: </span><a href="http://bit.ly/1jEz9Im" target="_blank">Gari Epranos</a></p>
	</div>
	
</section>
